.container-fluid {
  padding-right: 1em;
  padding-left: 1em;
  margin-right: auto;
  margin-left: auto; }

.container {
  padding-right: 1em;
  padding-left: 1em;
  margin-right: auto;
  margin-left: auto; }
  @media (min-width: 768px) {
    .container {
      width: 750px; } }
  @media (min-width: 992px) {
    .container {
      width: 970px; } }
  @media (min-width: 1200px) {
    .container {
      width: 1170px; } }

.row, .navbar {
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  -webkit-box-flex: 0;
  flex: 0 1 auto;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -1em;
  margin-left: -1em;
  margin-bottom: 1em; }
  .row .col,
  .row .col-1,
  .row .col-2,
  .row .col-3,
  .row .col-4,
  .row .col-5,
  .row .col-6,
  .row .col-7,
  .row .col-8,
  .row .col-9,
  .row .col-10,
  .row .col-11,
  .row .col-12, .navbar .col,
  .navbar .col-1,
  .navbar .col-2,
  .navbar .col-3,
  .navbar .col-4,
  .navbar .col-5,
  .navbar .col-6,
  .navbar .col-7,
  .navbar .col-8,
  .navbar .col-9,
  .navbar .col-10,
  .navbar .col-11,
  .navbar .col-12 {
    box-sizing: border-box;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    padding-right: 1em;
    padding-left: 1em; }
  .row .col, .navbar .col {
    max-width: 100%; }
  .row .col-1, .navbar .col-1 {
    -ms-flex-preferred-size: 8.333%;
    -webkit-flex-basis: 8.333%;
    flex-basis: 8.333%;
    max-width: 8.333%; }
  .row .col-2, .navbar .col-2 {
    -ms-flex-preferred-size: 16.667%;
    -webkit-flex-basis: 16.667%;
    flex-basis: 16.667%;
    max-width: 16.667%; }
  .row .col-3, .navbar .col-3 {
    -ms-flex-preferred-size: 25%;
    -webkit-flex-basis: 25%;
    flex-basis: 25%;
    max-width: 25%; }
  .row .col-4, .navbar .col-4 {
    -ms-flex-preferred-size: 33.333%;
    -webkit-flex-basis: 33.333%;
    flex-basis: 33.333%;
    max-width: 33.333%; }
  .row .col-5, .navbar .col-5 {
    -ms-flex-preferred-size: 41.667%;
    -webkit-flex-basis: 41.667%;
    flex-basis: 41.667%;
    max-width: 41.667%; }
  .row .col-6, .navbar .col-6 {
    -ms-flex-preferred-size: 50%;
    -webkit-flex-basis: 50%;
    flex-basis: 50%;
    max-width: 50%; }
  .row .col-7, .navbar .col-7 {
    -ms-flex-preferred-size: 58.333%;
    -webkit-flex-basis: 58.333%;
    flex-basis: 58.333%;
    max-width: 58.333%; }
  .row .col-8, .navbar .col-8 {
    -ms-flex-preferred-size: 66.667%;
    -webkit-flex-basis: 66.667%;
    flex-basis: 66.667%;
    max-width: 66.667%; }
  .row .col-9, .navbar .col-9 {
    -ms-flex-preferred-size: 75%;
    -webkit-flex-basis: 75%;
    flex-basis: 75%;
    max-width: 75%; }
  .row .col-10, .navbar .col-10 {
    -ms-flex-preferred-size: 83.333%;
    -webkit-flex-basis: 83.333%;
    flex-basis: 83.333%;
    max-width: 83.333%; }
  .row .col-11, .navbar .col-11 {
    -ms-flex-preferred-size: 91.667%;
    -webkit-flex-basis: 91.667%;
    flex-basis: 91.667%;
    max-width: 91.667%; }
  .row .col-12, .navbar .col-12 {
    -ms-flex-preferred-size: 100%;
    -webkit-flex-basis: 100%;
    flex-basis: 100%;
    max-width: 100%; }
  .row .col-offset-1, .navbar .col-offset-1 {
    margin-left: 8.333%; }
  .row .col-offset-2, .navbar .col-offset-2 {
    margin-left: 16.667%; }
  .row .col-offset-3, .navbar .col-offset-3 {
    margin-left: 25%; }
  .row .col-offset-4, .navbar .col-offset-4 {
    margin-left: 33.333%; }
  .row .col-offset-5, .navbar .col-offset-5 {
    margin-left: 41.667%; }
  .row .col-offset-6, .navbar .col-offset-6 {
    margin-left: 50%; }
  .row .col-offset-7, .navbar .col-offset-7 {
    margin-left: 58.333%; }
  .row .col-offset-8, .navbar .col-offset-8 {
    margin-left: 66.667%; }
  .row .col-offset-9, .navbar .col-offset-9 {
    margin-left: 75%; }
  .row .col-offset-10, .navbar .col-offset-10 {
    margin-left: 83.333%; }
  .row .col-offset-11, .navbar .col-offset-11 {
    margin-left: 91.667%; }
  .row .left, .navbar .left {
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    -webkit-box-pack: start;
    justify-content: flex-start;
    text-align: start; }
  .row .center, .navbar .center {
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto; }
  .row .right, .navbar .right {
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    -webkit-box-pack: end;
    justify-content: flex-end;
    text-align: end;
    margin-left: auto; }
  .row .top, .navbar .top {
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    -webkit-box-align: start;
    align-items: flex-start; }
  .row .middle, .navbar .middle {
    -webkit-align-items: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center; }
  .row .bottom, .navbar .bottom {
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    -webkit-box-align: end;
    align-items: flex-end; }
  .row .around, .navbar .around {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  .row .between, .navbar .between {
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between; }
  .row .first, .navbar .first {
    -webkit-order: -1;
    -ms-flex-order: -1;
    -webkit-box-ordinal-group: 0;
    order: -1; }
  .row .last, .navbar .last {
    -webkit-order: 1;
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
    order: 1; }

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../font/MaterialIcons-Regular.eot);
  /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(../font/MaterialIcons-Regular.woff2) format("woff2"), url(../font/MaterialIcons-Regular.woff) format("woff"), url(../font/MaterialIcons-Regular.ttf) format("truetype"); }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  position: relative;
  font-size: 24px;
  vertical-align: middle;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga'; }

html {
  font-size: 10px;
  -webkit-tap-highlight-color: transparent; }

body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff; }

h1, h2, h3, h4, h5, h6 {
  display: block; }

hr {
  margin-top: 1em;
  margin-bottom: 1em;
  color: #DDD; }

nav.navbar {
  background: #0c7cd5;
  color: #FFF;
  min-height: 50px;
  border-bottom: 2px solid #0960a5;
  padding: 0.5em 5em; }
  nav.navbar.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; }
  nav.navbar .heading {
    text-transform: uppercase;
    font-weight: bold;
    margin: auto 0; }
    nav.navbar .heading a {
      text-decoration: none; }
      nav.navbar .heading a:visited {
        color: #FFF; }
  nav.navbar i.material-icons {
    margin-right: 5px;
    font-size: 2em; }
  nav.navbar ul.nav {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none; }
    nav.navbar ul.nav > li a {
      text-transform: uppercase;
      background: #0c7cd5;
      color: #FFF; }
      nav.navbar ul.nav > li a:hover {
        background: #0b76cc; }

ul.nav {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-inline-flex;
  display: inline-flex;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  -moz-box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.2); }
  ul.nav > li > a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #2196F3; }
    ul.nav > li > a span.badge {
      margin-left: 5px; }
    ul.nav > li > a:hover {
      background: #eaeaea;
      color: #08528d; }
  ul.nav > li.active a {
    color: #FFF;
    background: #0960a5; }
    ul.nav > li.active a span.badge {
      color: #0960a5;
      background: #FFF; }
  ul.nav.stacked {
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    max-width: 300px; }
  ul.nav.tabs li a {
    border: 2px solid transparent; }
  ul.nav.tabs li.active a {
    color: #333;
    background: #FFF;
    border-bottom-color: #2196F3; }

span.badge {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  color: #FFF;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #0960a5;
  border-radius: 10px; }
  span.badge:empty {
    display: none; }

.btn {
  display: inline-block;
  text-decoration: none;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  background-color: #ddd;
  -moz-box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.2);
  color: #2196F3; }
  .btn span.badge {
    position: relative;
    top: -1px; }
  .btn i.material-icons {
    font-size: 20px; }
  .btn:hover {
    -moz-box-shadow: 0 2px 5px 3px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 2px 5px 3px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 5px 3px rgba(0, 0, 0, 0.2);
    background-color: #e2e2e2; }
  .btn.primary {
    color: #FFF;
    background: #2196F3; }
    .btn.primary:hover {
      background-color: #2b9bf4; }
  .btn.success {
    color: #FFF;
    background: #4CAF50; }
    .btn.success:hover {
      background-color: #52b455; }
  .btn.warning {
    color: #FFF;
    background: #FFC107; }
    .btn.warning:hover {
      background-color: #ffc411; }
  .btn.danger {
    color: #FFF;
    background: #F44336; }
    .btn.danger:hover {
      background-color: #f54c40; }

span.label {
  display: inline;
  padding: .3em .6em;
  font-size: 0.8em;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  background-color: #ddd; }
  span.label.primary {
    color: #FFF;
    background: #0960a5; }
  span.label.success {
    color: #FFF;
    background: #4CAF50; }
  span.label.warning {
    color: #FFF;
    background: #FFC107; }
  span.label.danger {
    color: #FFF;
    background: #F44336; }

.alert {
  padding: 1em;
  margin-bottom: 1em;
  border: 1px solid transparent;
  background: #ddd;
  -moz-box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.2);
  color: #333; }
  .alert h4 {
    margin-top: 0;
    color: inherit; }
  .alert .alert-link {
    font-weight: bold; }
  .alert > p, .alert > ul {
    margin-bottom: 0; }
  .alert > p + p {
    margin-top: 5px; }
  .alert.primary {
    color: #0960a5;
    background: #b2dbfb; }
  .alert.success {
    color: #2d682f;
    background: #b5dfb7; }
  .alert.warning {
    color: #a07800;
    background: #ffe7a0; }
  .alert.danger {
    color: #ba160a;
    background: #fccbc7; }

table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
  border-spacing: 0;
  border-collapse: collapse; }
  table > thead {
    display: table-header-group; }
    table > thead > tr > th, table > thead > tr > td {
      padding: 8px;
      text-align: left;
      vertical-align: bottom;
      border-bottom: 2px solid #ddd; }
  table > tbody > tr > td {
    padding: 8px;
    border-bottom: 1px solid #ddd; }
  table td, table th {
    padding: 0; }
  table.striped > tbody > tr:nth-of-type(odd) {
    background: whitesmoke; }
  table.hover > tbody > tr:hover {
    background: #ebebeb; }

img.circle {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%; }

.panel {
  margin-bottom: 1em;
  background-color: #fff;
  border: 1px solid #ddd;
  -moz-box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.2); }
  .panel .heading {
    padding: 1em;
    background: #ddd;
    font-weight: bold; }
  .panel .body {
    padding: 1em; }

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold; }
  label input[type="radio"], label input[type="checkbox"] {
    vertical-align: top; }

input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  line-height: normal; }
  input[type="radio"]:focus,
  input[type="checkbox"]:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px; }

textarea.form-control {
  height: 100px; }

.input-group {
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row; }
  .input-group label {
    display: block; }
  .input-group .form-control, .input-group input {
    flex: 3; }
    .input-group .form-control + btn, .input-group input + btn {
      border-right-color: transparent; }
  .input-group .addon > span {
    display: inline-block;
    background: #ddd;
    color: #333;
    width: 34px;
    line-height: 34px;
    height: 34px;
    text-align: center;
    font-weight: bold; }
    .input-group .addon > span > i {
      width: 34px;
      line-height: 34px; }
  .input-group .addon + .form-control, .input-group .addon + input {
    border-left-color: transparent; }
  .input-group .addon .btn {
    height: 34px;
    border: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none; }

.form-group .radio-group > label, .form-group .radio-group > input {
  display: block; }

form.horizontal .form-group label {
  text-align: right;
  margin: auto; }

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 1em;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  border: 1px solid #DDD; }
