* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: Verdana;
    background-color: #222;
    color: #FFF;
}

.container {
    display: flex;
    
    -webkit-flex-direction: column;
    flex-direction: column;
    
    -webkit-align-items: center;
    align-items: center;
}

.row {
    height: auto;
    max-width: 46em;
}

@media screen and (min-width: 768px) {
    .row {    
        flex: 1;
        display: flex;
    }
}

.col {
    height: 20em;
    width: 20em;
    flex: 1;
    margin: 2em; 
}

.row:nth-child(1) .col {
    margin-bottom: 0;
}

.col:nth-child(1) {
    margin-right: 0;
}

.tile {
    position: relative;
    width: 100%;
    height: 100%;
}

.tile > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 20em;
}

.tile > div {        
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.tile > div > img {
    height: auto;
    max-width: 100%;
    margin: auto;
    vertical-align: middle;
}

.tile > div.back {
  color: white;
  -webkit-transform: rotatex(180deg);
  transform: rotatex(180deg);
}

.tile.github {
    background-color: #5f00cb;
}

.tile.twitter {
    background-color: #4099FF;
}

.tile.linkedin {
    background-color: #287bbc;
}

.tile.email {
    background-color: #3D0066;
}

.tile:hover .front {
  -webkit-transform: rotateX(-180deg);
  transform: rotateX(-180deg);
}

.tile:hover .back  {
  -webkit-transform: rotateX(0);
  transform: rotateX(0);
}