$default-color: #ddd;
$primary-color: #2196F3;
$primary-accent: darken(#2196F3, 20%);
$nav-color: darken($primary-color, 10%);
$primary-text-color: #FFF;
$success-color: #4CAF50;
$warning-color: #FFC107;
$danger-color: #F44336;
$bottom-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.2);
$raised-shadow: 0 2px 5px 3px rgba(0, 0, 0, 0.2);