@import 'abstrakt.variables.scss';
@import 'abstrakt.grid.scss';

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(../font/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'), local('MaterialIcons-Regular'), url(../font/MaterialIcons-Regular.woff2) format('woff2'), url(../font/MaterialIcons-Regular.woff) format('woff'), url(../font/MaterialIcons-Regular.ttf) format('truetype');
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    position: relative;
    font-size: 24px;
    vertical-align: middle;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
}


html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
    display: block;
}

hr {
    margin-top: 1em;
    margin-bottom: 1em;
    color: #DDD;
}

nav.navbar {
    background: $nav-color;
    color: $primary-text-color;
    min-height: 50px;
    border-bottom: 2px solid $primary-accent;
    padding: 0.5em 5em;


    &.fixed {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
    }

    .heading {
        text-transform: uppercase;
        font-weight: bold;
        margin: auto 0;

        a {
            text-decoration: none;

            &:visited {
                color: $primary-text-color;
            }
        }
    }

    i.material-icons {
        margin-right: 5px;
        font-size: 2em;
    }

    ul.nav {
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;

        > li {
            a {
                text-transform: uppercase;
                background: $nav-color;
                color: $primary-text-color;

                &:hover {
                    background: darken($nav-color, 2%);
                }
            }
        }
    }
}

ul.nav {
    padding: 0;
    margin: 0;
    list-style: none;
    display: -webkit-inline-flex;
    display: inline-flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -moz-box-shadow: $bottom-shadow;
    -webkit-box-shadow: $bottom-shadow;
    box-shadow: $bottom-shadow;

    > li {
        > a {
            display: block;
            padding: 10px 15px;
            text-decoration: none;
            color: $primary-color;

            span.badge {
                margin-left: 5px;
            }

            &:hover {
                background: lighten($default-color, 5%);
                color: darken($primary-color, 25%);
            }
        }

        &.active {
            a {
                color: $primary-text-color;
                background: $primary-accent;

                span.badge {
                    color: $primary-accent;
                    background: $primary-text-color;
                }
            }
        }
    }

    &.stacked {
        display: -webkit-flex;
        display: flex;
        -ms-flex-direction: column;
        -webkit-flex-direction: column;
        flex-direction: column;
        max-width: 300px;
    }

    &.tabs {
        li {
            a {
                border: 2px solid transparent;
            }

            &.active {
                a {
                    color: #333;
                    background: $primary-text-color;
                    border-bottom-color: $primary-color;
                }
            }
        }
    }
}

span.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    color: $primary-text-color;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: $primary-accent;
    border-radius: 10px;

    &:empty {
        display: none;
    }
}

.btn {
    display: inline-block;
    text-decoration: none;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    background-color: $default-color;
    -moz-box-shadow: $bottom-shadow;
    -webkit-box-shadow: $bottom-shadow;
    box-shadow: $bottom-shadow;
    color: $primary-color;

    span.badge {
        position: relative;
        top: -1px;
    }

    i.material-icons {
        font-size: 20px;
    }

    &:hover {
        -moz-box-shadow: $raised-shadow;
        -webkit-box-shadow: $raised-shadow;
        box-shadow: $raised-shadow;
        background-color: lighten($default-color, 2%);
    }

    &.primary {
        color: $primary-text-color;
        background: $primary-color;

        &:hover {
            background-color: lighten($primary-color, 2%);
        }
    }

    &.success {
        color: $primary-text-color;
        background: $success-color;

        &:hover {
            background-color: lighten($success-color, 2%);
        }
    }

    &.warning {
        color: $primary-text-color;
        background: $warning-color;

        &:hover {
            background-color: lighten($warning-color, 2%);
        }
    }

    &.danger {
        color: $primary-text-color;
        background: $danger-color;

        &:hover {
            background-color: lighten($danger-color, 2%);
        }
    }
}

span.label {
    display: inline;
    padding: .3em .6em;
    font-size: 0.8em;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    background-color: $default-color;

    &.primary {
        color: $primary-text-color;
        background: $primary-accent;
    }

    &.success {
        color: $primary-text-color;
        background: $success-color;
    }

    &.warning {
        color: $primary-text-color;
        background: $warning-color;
    }

    &.danger {
        color: $primary-text-color;
        background: $danger-color;
    }
}

.alert {
    padding: 1em;
    margin-bottom: 1em;
    border: 1px solid transparent;
    background: $default-color;
    -moz-box-shadow: $bottom-shadow;
    -webkit-box-shadow: $bottom-shadow;
    box-shadow: $bottom-shadow;
    color: #333;

    h4 {
        margin-top: 0;
        color: inherit;
    }

    .alert-link {
        font-weight: bold;
    }

    > p, > ul {
        margin-bottom: 0;
    }

    > p + p {
        margin-top: 5px;
    }

    &.primary {
        color: darken($primary-color, 20%);
        background: lighten($primary-color, 30%);
    }

    &.success {
        color: darken($success-color, 20%);
        background: lighten($success-color, 30%);
    }

    &.warning {
        color: darken($warning-color, 20%);
        background: lighten($warning-color, 30%);
    }

    &.danger {
        color: darken($danger-color, 20%);
        background: lighten($danger-color, 30%);
    }
}

table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    border-spacing: 0;
    border-collapse: collapse;

    > thead {
        display: table-header-group;

        > tr {
            > th, > td {
                padding: 8px;
                text-align: left;
                vertical-align: bottom;
                border-bottom: 2px solid #ddd;
            }
        }
    }

    > tbody {
        > tr {
            > td {
                padding: 8px;
                border-bottom: 1px solid #ddd;
            }
        }
    }

    td, th {
        padding: 0;
    }

    &.striped {
        > tbody {
            > tr:nth-of-type(odd) {
                background: darken(#FFF, 4%);
            }
        }
    }

    &.hover {
        > tbody {
            > tr:hover {
                background: darken(#FFF, 8%);
            }
        }
    }
}

img.circle {
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.panel {
    margin-bottom: 1em;
    background-color: #fff;
    border: 1px solid $default-color;
    -moz-box-shadow: $bottom-shadow;
    -webkit-box-shadow: $bottom-shadow;
    box-shadow: $bottom-shadow;

    .heading {
        padding: 1em;
        background: $default-color;
        font-weight: bold;
    }

    .body {
        padding: 1em;
    }
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;

    input[type="radio"], input[type="checkbox"] {
        vertical-align: top;
    }
}

input[type="radio"],
input[type="checkbox"] {
    margin: 4px 0 0;
    margin-top: 1px \9;
    line-height: normal;

    &:focus {
        outline: thin dotted;
        outline: 5px auto -webkit-focus-ring-color;
        outline-offset: -2px;
    }
}

textarea.form-control {
    height: 100px;
}

.input-group {
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;

    label {
        display: block;
    }

    .form-control, input {
        flex: 3;

        & + btn {
            border-right-color: transparent;
        }
    }

    .addon {
        > span {
            display: inline-block;
            background: $default-color;
            color: #333;
            width: 34px;
            line-height: 34px;
            height: 34px;
            text-align: center;
            font-weight: bold;

            > i {
                width: 34px;
                line-height: 34px;
            }
        }

        & + .form-control, + input {
            border-left-color: transparent;
        }

        .btn {
            height: 34px;
            border: 0;
            -moz-box-shadow: none;
            -webkit-box-shadow: none;
            box-shadow: none;
        }
    }
}

.form-group {
    .radio-group {
        > label, > input {
            display: block;
        }
    }
}

form {
    &.horizontal {
        .form-group {
            label {
                text-align: right;
                margin: auto;
            }
        }
    }
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 1em;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    border: 1px solid #DDD;
}
