@import 'abstrakt.scss';
$background: #E91E63;
$side-background: #C2185B;
$text-color: #fff;

html, body {
    height: 100%;
}

body {
    font-family: 'Ubuntu';
    color: $text-color;
}

a {
    color: $text-color;
}

.container-fluid {
    height: 100%;
    > .row {
        height: 100%;
        margin-bottom: 0;
    }
}

@media(max-width:767px) {
    .row { 
        > .col.side {
            -webkit-box-flex: 1;
            flex: 1;
            
            .image {
                margin-top: auto; 
            }    
        }
        
        > .col.content {
            -webkit-flex: auto;
            flex: auto;
        }
    }            
}

@media(min-width:768px) {
    .row {
        .col.side {
            max-width: 306px;
        }
        
        > #content {
            -webkit-box-flex: 1;
            flex: 1;
        }

    }
}

.side {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    background-color: $side-background;
    z-index: 1;
    
    .image {
        text-align: center;
        padding: 1em;
        
        img {
            border-radius: 50%;    
            z-index: 5;
        }        
    }
    
    .contact-footer {
        a {
            display: block;
        }
        padding-bottom: 1em;
    }
}

p {
    margin-top: 0;
    margin-bottom: 1em;
}    
.content {
    background-color: $background;
    overflow-y: scroll;
    
    .project {
        border-bottom: 1px solid $side-background;
        margin-bottom: 1em;
        
        &:last-of-type {
            border-bottom: 0;
        }
        
        .title {
            font-weight: bold;
            font-size: 1.5em;
            .date {
                font-weight: 400;
            }
        }
        .employer:before {
            content: "Employer - ";
            font-weight: bold;
        }
        .description:before {
            content: "Description ";
            font-weight: bold;
        }
        .role:before {
            content: "Role ";
            font-weight: bold;
        }
        .tech:before {
            content: "Tech ";
            font-weight: bold;
        }
        
        .tech {
            ul {
                margin-top: 0;
            }
        }
    }
}

