@import "~styles/colors";

.container {
  display: flex;
  height: 100%;
  max-height: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;

  .image {
    width: 250px;
    height: 250px;
    margin: 0;
    margin-top: 1em;
    border-radius: 50%;

    img {
      width: 100%;
      border-radius: 50%;
    }
  }

  .info {
    max-width: 300px;
    padding: 1em;
    height: 100%;
    color: $primary-color-text;
    padding-right: 2em;
  }

  .link, .link:visited {
    color: $primary-color-text;
  }

  .contactFooter {
    .link {
      display: block;
      margin-bottom: 5px;
    }
  }

  .history {
    padding: 1em 0;
    height: 100%;
    overflow-y: scroll;
    h1 {
      color: $primary-color-text;
      text-align: center;
      padding: 0 1em;
    }
  }
}
